/* trang chi tiết phòng */
.detail {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
  }

.detail .open{
    display: flex;
}

.detail-room{
    background-color: #ffffff;
    width: 1200px;
    max-width: calc(100% - 90px);
    min-height: 200px;
    position: relative;
    
}
.detail-room-home{
    padding: 41px 23px 10px;
}
.detail-room_close i {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
}

.detail-room_close i:hover{
    color: rgb(71, 41, 41);
}
.detail-room-close i{
    font-size: 40px;
    margin-top: 1px;
}
.detail-room-home_img{
    
}
.detail-room-home_img img{
    width: 100%;
    height: 540px;
}
.detail-room-home .title{
    margin-top: 30px;
    margin-bottom: 3px;
    font-size: 20px;
    color: black;
}

.detail-room-home .features{
    display: flex;
    flex-wrap: wrap;
}
.detail-room-home .feature{
    display: flex;
    padding-right: 109px;
    padding-bottom: 12px;
    margin-left: 17px;
}

.detail-room-home .feature_icon{
    padding: 0 8px;

}
/* nút đăng nhập trang chủ */
.dang-nhap{
    background-color: #ffffff;
    border-radius: 63px;
    opacity: 0.7;
    padding: 0 6px;
    margin-left: 30px;
}
.dang-nhap:hover{
    opacity: 1;
}
.dang-nhap a{
    color: #000000 !important;
    text-transform: uppercase;
}

/* form đăng nhập */
.login{
    display: flex;
    min-height: 100vh;
}
.login .img{
    flex: 2;
}
.login img{
    height: 100%;
    width: 100%;
}
.login .form{
    flex: 1;
    display: grid;
    margin: auto;
}
.limiter-icon i{
    position: absolute;
    font-size: 38px;
    right: 0px;
    top: 0px;
    padding: 14px 25px;
    cursor: pointer;
}
.limiter-icon a:hover{
    opacity: 0.7;
}
.sign-up a{
    color: #2f1cb9;
}.sign-up a:hover{
    opacity: 0.5;
}

