.detail {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
  }

.detail .open{
    display: flex;
}

.detail-room{
    background-color: #ffffff;
    width: 1200px;
    max-width: calc(100% - 90px);
    min-height: 200px;
    position: relative;
    
}
.detail-room-home{
    padding: 41px 23px 10px;
}
.detail-room-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 8px;
    cursor: pointer;
}.detail-room-close:hover{
    color: rgb(73, 70, 70);
}
.detail-room-close i{
    font-size: 40px;
    margin-top: 1px;
}
.detail-room-home_img{
    
}
.detail-room-home_img img{
    width: 100%;
    height: 540px;
}
.detail-room-home .title{
    margin-top: 30px;
    margin-bottom: 3px;
    font-size: 20px;
    color: black;
}

.detail-room-home .features{
    display: flex;
    flex-wrap: wrap;
}
.detail-room-home .feature{
    display: flex;
    padding-right: 109px;
    padding-bottom: 12px;
    margin-left: 17px;
}

.detail-room-home .feature_icon{
    padding: 0 8px;

}